@page
@model UserViewRazorPages.Pages.AdminPages.UserManagement.UserReportManagementModel
@{
    ViewData["Title"] = "Edit Family Details";
    Layout = "_AdminLayout";
}
@if (TempData["notification"] != null)
{
    <div class="alert alert-info">@TempData["notification"]</div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountReport[0].User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountReport[0].DateReported)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountReport[0].Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountReport[0].Reporter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountReport[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AccountReport) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReported)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reporter.Name)
            </td>
            <td>
                    @switch (item.StatusId)
                    {
                        case 1:
                            <a>Processing</a>
                            break;
                        case 2:
                            <a style="color:limegreen">Accepted </a>
                            break;
                        default:
                            <a style="color:red">Rejected </a>
                            break;
                    }
            </td>
                @if (item.StatusId == 1) {
                    <td>
                    <a asp-page="./Delete" asp-route-id="@item.UserId">Accept</a> |
                    <a asp-page="./Deny" asp-route-id="@item.Id">Deny</a>
                    </td>
            }
        </tr>
}
    </tbody>
</table>
