@page
@model UserViewRazorPages.Pages.Hiepth.Events.MyEventsModel
@using DataAcessObject.Common
@{
    ViewData["Title"] = "My Events";
    Layout = "_UserLayout";
}

<div>
    <a class="btn btn-primary" href="Create">Create event</a>
</div>
<h2>My Events</h2>

<div class="d-flex col-4">
    <form class="input-group w-auto" method="post" asp-page-handler="search">
        <input type="text" class="form-control" name="value" placeholder="Event name"/>
        <button class="btn btn-primary">Search</button>
    </form>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Creator</th>
            <th scope="col">Information</th>
            <th scope="col">Location</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Status</th>
            <th scope="col">My Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events.Zip(Model.UserStatus, Tuple.Create))
        {
            <tr data-href="Detail?id=@item.Item1.EventId" style="cursor: pointer;">
                <td>@item.Item1.EventId</td>
                <td>@item.Item1.EventName</td>
                <td>@item.Item1.Creator.Name</td>
                <td>@item.Item1.Information</td>
                <td>@item.Item1.Location</td>
                <td>@item.Item1.StartDate</td>
                <td>@item.Item1.EndDate</td>
                <td>@item.Item1.Status</td>
                <td>@item.Item2</td>
                <td style="display: flex;">
                    @if (item.Item1.Status.Equals(EventStatus.Waiting.ToString()))
                    {
                        @if (item.Item2.Equals(UserEventStatus.Pending.ToString()))
                        {
                            <form method="post" asp-page-handler="AcceptEvent">
                                <input type="hidden" name="eventId" value="@item.Item1.EventId" />
                                <button class="btn btn-primary">Accept</button>
                            </form>
                            <form method="post" asp-page-handler="DenyEvent">
                                <input type="hidden" name="eventId" value="@item.Item1.EventId" />
                                <button class="btn btn-danger" onclick="return confirm('Are you sure you want to deny this?')">Deny</button>
                            </form>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            })
        });
    });
</script>
