@page
@model UserViewRazorPages.Pages.Bodt.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "_UserLayout";
}

<h1>Delete</h1>

<h3>Are you sure you want to send request for delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Gender)
        </dt>
        <dd class="col-sm-10">
            @if (Model.User.Gender == true)
            {
                <a>Male</a>
            }
            else
            {
                <a>Female</a>
            }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Birthday)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Birthday)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User.Family)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Family.Address)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="User.UserId" />
        <dt class="col-sm-2">
            Reason
        </dt>
        <dd class="col-sm-10">
            <input type="text" asp-for="Reason" />
        </dd>
        <input type="submit" value="Request delete" class="btn btn-danger" />
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
